  <body>
    <main>
      <section class="container">
        <h1>Recommendation</h1>
        <p class="song-name">Type: </p>
        <p class="song-name">Title: </p>
        <p class="song-name">Artist/Director: </p>
        <p class="song-name">Genre: </p>
        <p class="song-name">Link: </p>
      </section>
    </main>
  </body>