<section class="container">
  <div class="message login">
    <div class="inset">
      <div class="login-head">
        <h1>&nbsp;Login</h1>
      </div>
      <form action="/login" method="POST" id="login-form">
        <div class="form-group form-inline">
          <input type="email" name="userEmail" class="form-control" id="userEmail" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email Address';}"
            value="Email Address" required> <i class="fas fa-user"></i>
        </div>
        <div class="form-group form-inline">
          <input type="password" class="form-control" name="password" id="password" value="password" onfocus="this.value = '';"
            onblur="if (this.value == '') {this.value = 'password';}" required /> <i class="fas fa-lock"></i>
        </div>
        <div class="submit">
          <input type="submit" value="Sign in">
          <a href="/register">Register</a>
        </div>
      </form>
      {{#if hasErrors}}
      <p class="error">{{error}}</p>
      {{/if}}
    </div>
  </div>
</section>
<div class="footer">
  <p>Copyright &copy; 2019S_CS546_Group3 &nbsp; &nbsp; &nbsp;</p>
</div>