<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Media Recommender - Login</title>
    <link rel="stylesheet" href="./../styles/site.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
    />
  </head>

  <body>
    <main>
      <section class="container">
        <h1>Media Recommender - Login</h1>
          <form action="/login" method="POST" id="login-form">
            <div class="form-group">
              <label for="email">Email address:</label>
              <input type="email" class="form-control" id="email" />
            </div>
            <div class="form-group">
              <label for="pwd">Password:</label>
              <input type="password" class="form-control" id="pwd" />
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
      </section>
    </main>
  </body>
</html>
