<body>
  <main>
    <section class="container">
      <h1>Media Recommender - Login</h1>
      <form action="/login" method="POST" id="login-form">
        <div class="form-group">
          <label for="userEmail">Email address:
            <input type="email" name="userEmail" class="form-control" id="userEmail" />
          </label>
        </div>
        <div class="form-group">
          <label for="password">Password:
            <input type="password" class="form-control" name="password" id="password" />
          </label>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </section>

  </main>
</body>