<!DOCTYPE HTML>
<html>
<head>
<title>Media Recommender - Playlist</title>
<link href="../styles/login.css" rel="stylesheet" type="text/css" media="all" />
<link href="../styles/styles.css" rel="stylesheet" type="text/css" media="all" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script src="../styles/js/jquery-1.11.3.min.js"></script>
<!-- -->
</head>
<body>
<!-- contact-form -->
<div class="message profile">
<div class="inset">
	<div class="profile-head">
		<h1>Playlist</h1>
	</div>
		<form>
			<p>
				Name:
			</p>
			<p>
				Type:
			</p>
			<p>
				Owner:
			</p>
			<p>
				Media:
				<ul class="list-group list-group-flush">
                	<li class="list-group-item">Movie 1</li>
                	<li class="list-group-item">Movie 2</li>
                	<li class="list-group-item">Movie 3</li>
            	</ul>
			</p>
			<p>
				<form action="#" method="post">
  					comments：<br/> 
  					<textarea cols="60" rows="5"> 
  					</textarea>
  					<br/><br/>
  					<input type="submit" value="submit"/>
  				</form>
			</p>
		</form>
	</div>					
</div>
</body>
</html>