<head>
    <meta charset="utf-8">
    <title>Lab 10 - Private</title>
    <link rel="stylesheet" href="/public/site.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" />
</head>

<body>
    <main>
        <section>
            <h1 class="home-page-header">Lab 10 - Private Access</h1>
            <article class="user-data">
                <h3>User Info</h3>
                <p>Id: {{userData._id}}</p>
                <p>Username: {{userData.username}}</p>
                <p>First Name: {{userData.firstName}}</p>
                <p>Last Name: {{userData.lastName}}</p>
                <p>Profession: {{userData.Profession}}</p>
                <p>Bio: {{userData.Bio}}</p>
            </article>
        </section>
        <section>
            <a class="logout-btn" href="/logout">Logout</a>
        </section>
    </main>
</body>