<!DOCTYPE HTML>
<html>
<head>
<title>Media Recommender - Profile</title>
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script src="js/jquery.min.js"></script>
<!-- -->
</head>
<body>
<!-- contact-form -->	
<div class="message profile">
<div class="inset">
	<div class="profile-head">
		<h1>Profile</h1>
	</div>
		<form>
			<p>
				Name:
			</p>
			<p>
				Password: <input type="password" value="" id="Password">  
				<input type="submit"  value="Change">
			</p>
			<div class="clear"> </div>
			<p>
				Email:
			</p>
			<p>
				Location:
			</p>
			<p>
				Gender:
			</p>
			<p>
				AboutMe:
			</p>
			<p>
				Favorite Music Genres:
			</p>
			<p>
				Favorite Movie Genres:
			</p>
			<div class="clear"> </div>
			<p>
				Favorites:
			</p>
			<div class="clear"> </div>
			<div id="jquery_jplayer_1" class="jp-jplayer"></div>
			<div id="jp_container_1" class="jp-audio" role="application" aria-label="media player">
				<div class="jp-type-playlist">
					<div class="jp-playlist">
						<ul>
							<li>&nbsp;</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="clear"></div>
			<br>
			<p>
				Movie playlist:
				<ul class="list-group list-group-flush">
                	<li class="list-group-item">Movie 1</li>
                	<li class="list-group-item">Movie 2</li>
                	<li class="list-group-item">Movie 3</li>
            	</ul>
			</p>
			<p>
				Music playlist:
				<ul class="list-group list-group-flush">
                	<li class="list-group-item">Music 1</li>
                	<li class="list-group-item">Music 2</li>
                	<li class="list-group-item">Music 3</li>
            	</ul>
			</p>
			<p>
				WatchLater:
            </p>
            <div id="jquery_jplayer_2" class="jp-jplayer"></div>
			<div id="jp_container_2" class="jp-audio" role="application" aria-label="media player">
				<div class="jp-type-playlist">
					<div class="jp-playlist">
						<ul>
							<li>&nbsp;</li>
						</ul>
					</div>
				</div>
			</div>
		</form>
		</div>					
	</div>
	</div>
<link href="css/jplayer.blue.monday.min.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/jquery.jplayer.min.js"></script>
<script type="text/javascript" src="js/jplayer.playlist.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){

	new jPlayerPlaylist({
		jPlayer: "#jquery_jplayer_1",
		cssSelectorAncestor: "#jp_container_1"
	}, [
		{
			title:"1-1"
		},
		{
			title:"1-2"
		},
		{
			title:"1-3"
		}
	], {
	});

	new jPlayerPlaylist({
		jPlayer: "#jquery_jplayer_2",
		cssSelectorAncestor: "#jp_container_2"
	}, [
		{
			title:"2-1"
		},
		{
			title:"2-2"
		},
		{
			title:"2-3"
		},
		{
			title:"2-4"
		},
		{
			title:"2-5"
		}
	], {
	});
});
//]]>
</script>
</body>
</html>