<!DOCTYPE HTML>
<html>
<head>
<title>Media Recommender - Profile</title>
<link href="../styles/login.css" rel="stylesheet" type="text/css" media="all" />
<link href="../styles/styles.css" rel="stylesheet" type="text/css" media="all" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script src="../styles/js/jquery-1.11.3.min.js"></script>
<!-- -->
</head>
<body>
<!-- contact-form -->	
<div class="message profile">
<div class="inset">
	<div class="profile-head">
		<h1>Profile</h1>
	</div>
		<form>
			<p>
				Name:
			</p>
			<p>
				Password: <input type="password" value="" id="Password">  
				<input type="submit"  value="Change">
			</p>
			<div class="clear"> </div>
			<p>
				Email:
			</p>
			<p>
				Location:
			</p>
			<p>
				Gender:
			</p>
			<p>
				AboutMe:
			</p>
			<p>
				Favorite Music Genres:
			</p>
			<p>
				Favorite Movie Genres:
			</p>
			<div class="clear"> </div>
			<p>
				Favorites:
				<ul class="list-group list-group-flush">
                	<li class="list-group-item">Favorites 1</li>
                	<li class="list-group-item">Favorites 2</li>
                	<li class="list-group-item">Favorites 3</li>
            	</ul>
			</p>
			<p>
				Movie playlist:
				<ul class="list-group list-group-flush">
                	<li class="list-group-item">Movie 1</li>
                	<li class="list-group-item">Movie 2</li>
                	<li class="list-group-item">Movie 3</li>
            	</ul>
			</p>
			<p>
				Music playlist:
				<ul class="list-group list-group-flush">
                	<li class="list-group-item">Music 1</li>
                	<li class="list-group-item">Music 2</li>
                	<li class="list-group-item">Music 3</li>
            	</ul>
			</p>
			<p>
				WatchLater:
				<ul class="list-group list-group-flush">
                	<li class="list-group-item">later 1</li>
                	<li class="list-group-item">later 2</li>
                	<li class="list-group-item">later 3</li>
            	</ul>
            </p>
		</form>
		</div>					
	</div>
	</div>
</body>
</html>