<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Media Recommender - Login</title>
    <link rel="stylesheet" href="./../styles/site.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <style>
  .bg-purple{
    background-color: #6D4A70!important;
}
  </style>
  </head>

  <body>
    <main>
      <section class="container">
        <h1>Media Recommender - Registeration</h1>
          <!-- -->
          <div class="card text-black mb-3" style="max-width: 50rem;margin-left: auto;margin-right: auto;">
            <div class="card-header text-white bg-purple">Register</div>
            <div class="card-body">
                    <form>
                            <div class="form-group">
                                    <label for="fname">First Name:</label>
                                    <input type="text" class="form-control" id="fname" required />
                                  </div>
                                  <div class="form-group">
                                    <label for="lname">Last Name:</label>
                                    <input type="text" class="form-control" id="lname" required />
                                  </div>
                            <div class="form-group">
                              <label for="email">Email address:</label>
                              <input type="email" class="form-control" id="email" required/>
                            </div>
                            <div class="form-group">
                              <label for="pwd">Password:</label>
                              <input type="password" class="form-control" id="pwd" required/>
                            </div>
                            <div class="form-group">
                                    <label for="cnfpwd">Confirm Password:</label>
                                    <input type="password" class="form-control" id="cnfpwd" required/>
                                  </div>
                                  <div class="form-group">
                                  <label class="radio-inline">
                                        <input type="radio" name="optradio" required>Male
                                      </label>
                                      <label class="radio-inline">
                                        <input type="radio" name="optradio" >Female
                                      </label>
                                    </div>
                                    <div class="form-group">
                                            <label for="loc">Location:</label>
                                            <input type="text" class="form-control" id="loc" required/>
                                          </div>
                                          <div class="form-group">
                                                <label for="age">Age:</label>
                                                <input type="text" class="form-control" id="age" required />
                                              </div>
                                              <div class="form-group">
                                                    <label for="abt">About Me:</label>
                                                    <input type="text" class="form-control" id="abt" required/>
                                                  </div>
                                                  <div class="form-group">
                                                        <label for="gen">Favourate Music Genre:</label>
                                                  <select class="form-control" id="gen" required>
                                                        <option value="pop">Pop</option>
                                                        <option value="jazz">Jazz</option>
                                                        <option value="rap">Rap</option>
                                                        <option value="country" selected>Country</option>
                                                      </select>
                                                    </div>
                                                      
                                                    <div class="form-group">
                                                            <label for="gen">Favourate Movie Genre:</label>
                                                      <select class="form-control" id="gen" required>
                                                            <option value="pop">Romantic</option>
                                                            <option value="jazz">Thriller</option>
                                                            <option value="rap">Comedy</option>
                                                            <option value="country" selected>Family</option>
                                                          </select>
                                                        </div>
                            <button type="submit" class="btn btn-default bg-purple text-white">Submit</button>
                            <button type="submit" class="btn btn-default bg-white text-black">Cancel</button>
                          </form> 
            </div>
          </div>
          <br><br>

      </section>
    </main>
  </body>
</html>
