<div class="message register" id="register">
  <div class="inset container">
    <div class="register-head">
      <h1>Media Recommender - Registeration</h1>
    </div>

    <form action="/register" method="POST" id="registeration-form">
      <p>
        <label for="fname">First Name:</label>
        <input type="text" class="form-control" id="fname" name="fname" required />
      </p>
      <div class="clear"> </div>
      <p>
        <label for="lname">Last Name:</label>
        <input type="text" name="lname" class="form-control" id="lname" required />
      </p>
      <div class="clear"> </div>
      <p>
        <label for="email">Email address:</label>
        <input type="email" name="email" class="form-control" id="email" required />
      </p>
      {{#if hasErrors}}
      <p class="error">{{error}}</p>
      {{/if}}
      <div class="clear"> </div>
      <p>
        Gender:<br>
        <label for="male">Male</label>
        <input type="radio" name="gender" id="male" checked><br>
        <label for="female">Female</label>
        <input type="radio" name="gender" id="female"><br>
      </p>
      <div class="clear"> </div>
      <p>
        <label for="location">Location:</label>
        <input type="text" name="location" class="form-control" id="location" required />
      </p>
      <div class="clear"> </div>
      <p>
        <label for="age">Age:</label>
        <input type="number" name="age" class="form-control" id="age" min="1" max="100" required />
      </p>

      <p class="form-group music-genre">
        <label>Favourate Music Genre: <span class="italics-text warning-text">(*Please select between 1-5 generes)</span></label><br>
        <label for="musicGenre1"><input type="checkbox" id="musicGenre1" name="musicGenre" value="acoustic"><span>acoustic</span></label>
        <label for="musicGenre2"><input type="checkbox" id="musicGenre2" name="musicGenre" value="alternative"><span>alternative</span></label>
        <label for="musicGenre3"><input type="checkbox" name="musicGenre" id="musicGenre3" value="ambient"><span>ambient</span></label>
        <label for="musicGenre4"><input type="checkbox" name="musicGenre" id="musicGenre4" value="black-metal"><span>black-metal</span></label>
        <label for="musicGenre5"><input type="checkbox" name="musicGenre" id="musicGenre5" value="breakbeat"><span>breakbeat</span></label><br>
        <label for="musicGenre6"><input type="checkbox" name="musicGenre" id="musicGenre6" value="british"><span>british</span></label>
        <label for="musicGenre7"><input type="checkbox" name="musicGenre" id="musicGenre7" value="chicago-house"><span>chicago-house</span></label>
        <label for="musicGenre8"><input type="checkbox" name="musicGenre" id="musicGenre8" value="chill"><span>chill</span></label>
        <label for="musicGenre9"><input type="checkbox" name="musicGenre" id="musicGenre9" value="classical"><span>classical</span></label>
        <label for="musicGenre10"><input type="checkbox" name="musicGenre" id="musicGenre10" value="club"><span>club</span></label><br>
        <label for="musicGenre11"><input type="checkbox" name="musicGenre" id="musicGenre11" value="country"><span>country</span></label>
        <label for="musicGenre12"><input type="checkbox" name="musicGenre" id="musicGenre12" value="dance"><span>dance</span></label>
        <label for="musicGenre13"><input type="checkbox" name="musicGenre" id="musicGenre13" value="death-metal"><span>death-metal</span></label>
        <label for="musicGenre14"><input type="checkbox" name="musicGenre" id="musicGenre14" value="deep-house"><span>deep-house</span></label>
        <label for="musicGenre15"><input type="checkbox" name="musicGenre" id="musicGenre15" value="disco"><span>disco</span></label><br>
        <label for="musicGenre16"><input type="checkbox" name="musicGenre" id="musicGenre16" value="disney"><span>disney</span></label>
        <label for="musicGenre17"><input type="checkbox" name="musicGenre" id="musicGenre17" value="dubstep"><span>dubstep</span></label>
        <label for="musicGenre18"><input type="checkbox" name="musicGenre" id="musicGenre18" value="edm"><span>edm</span></label>
        <label for="musicGenre19"><input type="checkbox" name="musicGenre" id="musicGenre19" value="electro"><span>electro</span></label>
        <label for="musicGenre20"><input type="checkbox" name="musicGenre" id="musicGenre20" value="electronic"><span>electronic</span></label><br>
        <label for="musicGenre21"><input type="checkbox" name="musicGenre" id="musicGenre21" value="emo"><span>emo</span></label>
        <label for="musicGenre22"><input type="checkbox" name="musicGenre" id="musicGenre22" value="folk"><span>folk</span></label>
        <label for="musicGenre23"><input type="checkbox" name="musicGenre" id="musicGenre23" value="funk"><span>funk</span></label>
        <label for="musicGenre24"><input type="checkbox" name="musicGenre" id="musicGenre24" value="garage"><span>garage</span></label>
        <label for="musicGenre25"><input type="checkbox" name="musicGenre" id="musicGenre25" value="goth"><span>goth</span></label><br>
        <label for="musicGenre26"><input type="checkbox" name="musicGenre" id="musicGenre26" value="guitar"><span>guitar</span></label>
        <label for="musicGenre27"><input type="checkbox" name="musicGenre" id="musicGenre27" value="hard-rock"><span>hard-rock</span></label>
        <label for="musicGenre28"><input type="checkbox" name="musicGenre" id="musicGenre28" value="hardcore"><span>hardcore</span></label>
        <label for="musicGenre29"><input type="checkbox" name="musicGenre" id="musicGenre29" value="heavy-metal"><span>heavy-metal</span></label>
        <label for="musicGenre30"><input type="checkbox" name="musicGenre" id="musicGenre30" value="hip-hop"><span>hip-hop</span></label><br>
        <label for="musicGenre31"><input type="checkbox" name="musicGenre" id="musicGenre31" value="indian"><span>indian</span></label>
        <label for="musicGenre32"><input type="checkbox" name="musicGenre" id="musicGenre32" value="indie"><span>indie</span></label>
        <label for="musicGenre33"><input type="checkbox" name="musicGenre" id="musicGenre33" value="jazz"><span>jazz</span></label>
        <label for="musicGenre34"><input type="checkbox" name="musicGenre" id="musicGenre34" value="latin"><span>latin</span></label>
        <label for="musicGenre35"><input type="checkbox" name="musicGenre" id="musicGenre35" value="latino"><span>latino</span></label><br>
        <label for="musicGenre36"><input type="checkbox" name="musicGenre" id="musicGenre36" value="metal"><span>metal</span></label>
        <label for="musicGenre37"><input type="checkbox" name="musicGenre" id="musicGenre37" value="metalcore"><span>metalcore</span></label>
        <label for="musicGenre38"><input type="checkbox" name="musicGenre" id="musicGenre38" value="new-age"><span>new-age</span></label>
        <label for="musicGenre39"><input type="checkbox" name="musicGenre" id="musicGenre39" value="opera"><span>opera</span></label>
        <label for="musicGenre40"><input type="checkbox" name="musicGenre" id="musicGenre40" value="piano"><span>piano</span></label><br>
        <label for="musicGenre41"><input type="checkbox" name="musicGenre" id="musicGenre41" value="party"><span>party</span></label>
        <label for="musicGenre42"><input type="checkbox" name="musicGenre" id="musicGenre42" value="punk"><span>punk</span></label>
        <label for="musicGenre43"><input type="checkbox" name="musicGenre" id="musicGenre43" value="rock"><span>rock</span></label>
        <label for="musicGenre44"><input type="checkbox" name="musicGenre" id="musicGenre44" value="romance"><span>romance</span></label>
        <label for="musicGenre45"><input type="checkbox" name="musicGenre" id="musicGenre45" value="sad"><span>sad</span></label><br>
        <label for="musicGenre46"><input type="checkbox" name="musicGenre" id="musicGenre46" value="summer"><span>summer</span></label>
        <label for="musicGenre47"><input type="checkbox" name="musicGenre" id="musicGenre47" value="techno"><span>techno</span></label>
        <label for="musicGenre48"><input type="checkbox" name="musicGenre" id="musicGenre48" value="trance"><span>trance</span></label>
        <label for="musicGenre49"><input type="checkbox" name="musicGenre" id="musicGenre49" value="work-out"><span>work-out</span></label>
        <label for="musicGenre50"><input type="checkbox" name="musicGenre" id="musicGenre50" value="world-music"><span>world-music</span></label><br>
      </p>

      <div class="form-group movie-genre-checkbox">
        <label>Favourate Movie Genre:</label><br>
        <label for="movieGenre1"><input type="checkbox" name="movieGenre1" id="movieGenre1" value="animation">Animation</label><br>
        <label for="movieGenre2"><input type="checkbox" name="movieGenre" id="movieGenre2" value="adventure">Adventure</label><br>
        <label for="movieGenre3"><input type="checkbox" name="movieGenre" id="movieGenre3" value="crime">Crime</label><br>
        <label for="movieGenre4"><input type="checkbox" name="movieGenre" id="movieGenre4" value="comedy">Comedy</label><br>
        <label for="movieGenre5"><input type="checkbox" name="movieGenre" id="movieGenre5" value="drama">Drama</label><br>
        <label for="movieGenre6"><input type="checkbox" name="movieGenre" id="movieGenre6" value="mystery">Mystery</label><br>
        <label for="movieGenre7"><input type="checkbox" name="movieGenre" id="movieGenre7" value="romantic">Romantic</label><br>
        <label for="movieGenre8"><input type="checkbox" name="movieGenre" id="movieGenre8" value="thriller">Thriller</label><br>
        <label for="movieGenre9"><input type="checkbox" name="movieGenre" id="movieGenre9" value="horror">Horror</label><br>
        <label for="movieGenre10"><input type="checkbox" name="movieGenre" id="movieGenre10" value="music">Music</label><br>
        <label for="movieGenre11"><input type="checkbox" name="movieGenre" id="movieGenre11" value="family">Family</label><br>
        <label for="movieGenre12"><input type="checkbox" name="movieGenre" id="movieGenre12" value="fantasy">Fantasy</label><br>
        <label for="movieGenre13"><input type="checkbox" name="movieGenre" id="movieGenre13" value="sci-fi">Sci-Fi</label><br>

      </div>

      <p>
        <label for="password1">Password:</label>
        <input type="password" name="password1" class="form-control" id="password1" required />
      </p>
      <p>
        <label for="password2">Confirm Password:</label>
        <input type="password" name="password2" class="form-control" id="password2" required />
      </p>
      <div class="submit">
        <input type="submit" value="Submit">
        <div class="clear"> </div>
      </div>
    </form>

    <br><br>
  </div>
</div>