<div class="message register" id="register">
  <div class="inset">
    <div class="register-head">
      <h1>Media Recommender - Registeration</h1>
    </div>

    <form action="/register" method="POST" id="registeration-form">
      <p>
        <label for="fname">First Name:</label>
        <input type="text" class="form-control" id="fname" name="fname" required />
      </p>
      <div class="clear"> </div>
      <p>
        <label for="lname">Last Name:</label>
        <input type="text" name="lname" class="form-control" id="lname" required />
      </p>
      <div class="clear"> </div>
      <p>
        <label for="email">Email address:</label>
        <input type="email" name="email" class="form-control" id="email" required />
      </p>
      <div class="clear"> </div>
      <p>
        Gender:<br>
        <label>Male</label>
        <input type="radio" name="gender" id="male" value="M" checked><br>
        <label>Female</label>
        <input type="radio" name="gender" id="female" value="F"><br>
      </p>
      <div class="clear"> </div>
      <p>
        <label for="location">Location:</label>
        <input type="text" name="location" class="form-control" id="location" required />
      </p>
      <div class="clear"> </div>
      <p>
        <label for="age">Age:</label>
        <input type="number" name="age" class="form-control" id="age" min="1" max="100" required />
      </p>

      <p class="form-group music-genre">
        <label>Favourate Music Genre:</label><br>
        <input type="checkbox" name="musicGenre" value="acoustic"><span>acoustic</span>
        <input type="checkbox" name="musicGenre" value="alternative"><span>alternative</span>
        <input type="checkbox" name="musicGenre" value="ambient"><span>ambient</span>
        <input type="checkbox" name="musicGenre" value="black-metal"><span>black-metal</span>
        <input type="checkbox" name="musicGenre" value="breakbeat"><span>breakbeat</span><br>
        <input type="checkbox" name="musicGenre" value="british"><span>british</span>
        <input type="checkbox" name="musicGenre" value="chicago-house"><span>chicago-house</span>
        <input type="checkbox" name="musicGenre" value="chill"><span>chill</span>
        <input type="checkbox" name="musicGenre" value="classical"><span>classical</span>
        <input type="checkbox" name="musicGenre" value="club"><span>club</span><br>
        <input type="checkbox" name="musicGenre" value="country"><span>country</span>
        <input type="checkbox" name="musicGenre" value="dance"><span>dance</span>
        <input type="checkbox" name="musicGenre" value="death-metal"><span>death-metal</span>
        <input type="checkbox" name="musicGenre" value="deep-house"><span>deep-house</span>
        <input type="checkbox" name="musicGenre" value="disco"><span>disco</span><br>
        <input type="checkbox" name="musicGenre" value="disney"><span>disney</span>
        <input type="checkbox" name="musicGenre" value="dubstep"><span>dubstep</span>
        <input type="checkbox" name="musicGenre" value="edm"><span>edm</span>
        <input type="checkbox" name="musicGenre" value="electro"><span>electro</span>
        <input type="checkbox" name="musicGenre" value="electronic"><span>electronic</span><br>
        <input type="checkbox" name="musicGenre" value="emo"><span>emo</span>
        <input type="checkbox" name="musicGenre" value="folk"><span>folk</span>
        <input type="checkbox" name="musicGenre" value="funk"><span>funk</span>
        <input type="checkbox" name="musicGenre" value="garage"><span>garage</span>
        <input type="checkbox" name="musicGenre" value="goth"><span>goth</span><br>
        <input type="checkbox" name="musicGenre" value="guitar"><span>guitar</span>
        <input type="checkbox" name="musicGenre" value="hard-rock"><span>hard-rock</span>
        <input type="checkbox" name="musicGenre" value="hardcore"><span>hardcore</span>
        <input type="checkbox" name="musicGenre" value="heavy-metal"><span>heavy-metal</span>
        <input type="checkbox" name="musicGenre" value="hip-hop"><span>hip-hop</span><br>
        <input type="checkbox" name="musicGenre" value="indian"><span>indian</span>
        <input type="checkbox" name="musicGenre" value="indie"><span>indie</span>
        <input type="checkbox" name="musicGenre" value="jazz"><span>jazz</span>
        <input type="checkbox" name="musicGenre" value="latin"><span>latin</span>
        <input type="checkbox" name="musicGenre" value="latino"><span>latino</span><br>
        <input type="checkbox" name="musicGenre" value="metal"><span>metal</span>
        <input type="checkbox" name="musicGenre" value="metalcore"><span>metalcore</span>
        <input type="checkbox" name="musicGenre" value="new-age"><span>new-age</span>
        <input type="checkbox" name="musicGenre" value="opera"><span>opera</span>
        <input type="checkbox" name="musicGenre" value="piano"><span>piano</span><br>
        <input type="checkbox" name="musicGenre" value="party"><span>party</span>
        <input type="checkbox" name="musicGenre" value="punk"><span>punk</span>
        <input type="checkbox" name="musicGenre" value="rock"><span>rock</span>
        <input type="checkbox" name="musicGenre" value="romance"><span>romance</span>
        <input type="checkbox" name="musicGenre" value="sad"><span>sad</span><br>
        <input type="checkbox" name="musicGenre" value="summer"><span>summer</span>
        <input type="checkbox" name="musicGenre" value="techno"><span>techno</span>
        <input type="checkbox" name="musicGenre" value="trance"><span>trance</span>
        <input type="checkbox" name="musicGenre" value="work-out"><span>work-out</span>
        <input type="checkbox" name="musicGenre" value="world-music"><span>world-music</span><br>
      </p>

      <p class="form-group">
        <label>Favourate Movie Genre:</label><br>
        <input type="checkbox" name="movieGenre" value="romantic">Romantic<br>
        <input type="checkbox" name="movieGenre" value="thriller">Thriller<br>
        <input type="checkbox" name="movieGenre" value="action">Action<br>
        <input type="checkbox" name="movieGenre" value="comedy">Comedy<br>
        <input type="checkbox" name="movieGenre" value="family">Family<br>
      </p>

      <p>
        <label for="password1">Password:</label>
        <input type="password" name="password1" class="form-control" id="password1" required />
      </p>
      <p>
        <label for="password2">Confirm Password:</label>
        <input type="password" name="password2" class="form-control" id="password2" required />
      </p>
      <div class="submit">
        <input type="submit" value="Submit">
        <div class="clear"> </div>
      </div>
    </form>

    <br><br>
  </div>
</div>
