<main>
  <div class="container">
    <div>
      <div class="centereddiv">
        <button title="Login" class="button glass clear-a" onclick="location.herf='/login'">Login</button>
        <button class="button glass clear-a" onclick="location.herf='/register'">Register</button>
      </div>
    </div>
  </div>
</main>