  <body>
    <main>
      <section class="container">
        <h1>Media Recommender</h1>
        
        <section>
            <a href="/login"><button class="btn-default">Login</button></a>
            <a href="/register"><button class="btn-default">Register</button></a>
        </section>
      </section>
    </main>
  </body>
</html>
