
    <main>
      <section class="container">
                    <section>
                   <div class="centereddiv">
                      
                        <a href="/login" ><button title="Login" class="button glass clear-a">Login</button></a>
                        <a href="/register"><button class="button glass clear-a">Register</button></a>
                   </div>
                           
                   
                    </section>
      </section>
    </main>
