<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Media Recommender</title>
    <link rel="stylesheet" href="./../styles/site.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  </head>

  <body>
    <main>
      <section class="container">
        <h1>Media Recommender</h1>
        
        <section>
            <a href="/login"><button class="btn-default">Login</button></a>
            <a href="/register"><button class="btn-default">Register</button></a>
        </section>
      </section>
    </main>
  </body>
</html>
