<main>
    <section>
        <div class="text-center">
            <h2>Please login to access this page.</h2>
            <button class="button glass clear-a" onclick="location.href='/login'">Click here to go back to the login
                screen.</button>
        </div>
    </section>
</main>