 /* reset */
 html,body,div,span,
 applet,object,iframe,
 blockquote,pre,a,abbr,
 acronym,address,big,cite,
 code,del,dfn,em,img,ins,
 kbd,q,s,samp,small,strike,
 strong,sub,sup,tt,var,
 b,u,i,dl,dt,dd,ol,nav ul,
 nav li,fieldset,form,label,
 legend,table,caption,tbody,
 tfoot,thead,tr,th,td,article,
 aside,canvas,details,embed,
 figure,figcaption,footer,
 header,hgroup,menu,nav,
 output,section,summary,
 time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
 article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
 ol,ul{list-style:none;margin:0;padding:0;}
 blockquote,q{quotes:none;}
 blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
 table{border-collapse:collapse;border-spacing:0;}
 /* start editing from here */
 a{text-decoration:none;}
 .txt-rt{text-align:right;}/* text align right */
 .txt-lt{text-align:left;}/* text align left */
 .txt-center{text-align:center;}/* text align center */
 .float-rt{float:right;}/* float right */
 .float-lt{float:left;}/* float left */
 .clear{clear:both;}/* clear float */
 .pos-relative{position:relative;}/* Position Relative */
 .pos-absolute{position:absolute;}/* Position Absolute */
 .vertical-base{	vertical-align:baseline;}/* vertical align baseline */
 .vertical-top{	vertical-align:top;}/* vertical align top */
 .underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
 nav.vertical ul li{	display:block;}/* vertical menu */
 nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
 img{max-width:100%;}
 /*end reset*/
 body{
    font-family: 'Droid Sans', sans-serif;
    font-size:100%;
   }
 .message {
     box-shadow: 0 0 0 1px rgba(0,0,0,0.2) inset, 0 1px 0 rgba(255,255,255,0.1) inset, 0 1px 2px rgba(0,0,0,0.4);
     position: relative;
 }
 .message.login  {
     background: rgba(255, 255, 255, 0.33);
     -moz-box-shadow: 0 0 0 3px rgba(56, 41, 32, 0.25);
     -webkit-box-shadow: 0 0 0 3px rgba(56, 41, 32, 0.25);
     box-shadow: 0 0 0 3px rgba(56, 41, 32, 0.25);
     margin: 3% auto 0;
     width: 37%;
 }
 .message.register  {
     background: rgba(255, 255, 255, 0.33);
     -moz-box-shadow: 0 0 0 3px rgba(56, 41, 32, 0.25);
     -webkit-box-shadow: 0 0 0 3px rgba(56, 41, 32, 0.25);
     box-shadow: 0 0 0 3px rgba(56, 41, 32, 0.25);
     margin:3% auto 0;
     width: 80%;
 }
 form i {
     float: right;
     color: black;
 }
 .login-head {
     padding: 1em 0;
     background: #6D4A70;
     position:relative;
 }
 .login-head h1 {
     color: #fff;
     font-size: 1.5em;
     text-align: left;
     margin: 0 23px;
 }
 .register-head {
     padding: 1.5em 0;
     background: #6D4A70;
     position:relative;
 }
 .register-head h1 {
     color: #fff;
     font-size: 1.5em;
     text-align: left;
     margin: 0 23px;
 }
 form {
     padding: 3em 2em;
     background: #F2F2F2;
     color: black;
     border: 2px ridge rgba(187, 185, 189, 0.11);
     border-radius: 0.3em;
     -webkit-border-radius:0.3em;
     -moz-border-radius:0.3em;
     -o-border-radius:0.3em;
     float: inherit;
 }
 form div.form-group{
     border: 2px ridge rgba(187, 185, 189, 0.11);
     border-radius: 0.3em;
     -webkit-border-radius:0.3em;
     -moz-border-radius:0.3em;
     -o-border-radius:0.3em;
     list-style:none;
     margin-bottom:12px;
     background:#F0EEF0;
     z-index: auto;
 }
 
 input[type="number"], input[type="text"], input[type="email"], input[type="password"] {
     font-family: 'Droid Sans', sans-serif;
     width:70%;
     padding: 0.5em 2em 0.5em 1em;
     color: #B8B8B8;
     font-size:20px;
     outline: none;
     background: none;
     border: thin;
 }
 input[type="number"]:hover, input[type="text"]:hover, input[type="email"]:hover, input[type="password"]:hover{
     color:#9E61A3;
     border: #6D4A70;
 }
 .submit a{
     float:left;
     font-size: 16px;
     color: #6f6f6f;
     font-weight: 400;
     font-family: 'Droid Sans', sans-serif;
     margin-top: 15px;
     margin-left: 21px;
 }
 .submit a:hover{
     color:#8D4294;
 }
 /*************************/
 .submit{
     padding-top:3em;
 }
 input[type="submit"] {
     float: left;
     color: #fff;
     cursor: pointer;
     font-weight: 900;
     outline: none;
     font-family: 'Raleway', sans-serif;
     padding: 10px 0px;
     width: 35%;
     font-size: 18px;
     background:#6C496F;
     border:2px solid #6C496F;
     border-radius: 0.5em;
     -webkit-border-radius:0.5em;
     -moz-border-radius:0.5em;
     -o-border-radius:0.5em;
 }
 input[type="submit"]:hover {
     background: #fff;
     color:#6C496F;
     border:2px solid #6C496F;
 }
 /*----*/
 /* footer */
 .footer{
     position: absolute;
     bottom: 57px;
     left: 38%;
 }
 .footer p{
     position:relative;
     font-family: 'Droid Sans', sans-serif;
     color:#fff;
     display: block;
     font-size:1.2em;
     font-weight: 400;
     text-align:center;
     padding-top:2em;
 }
 /*--footer--*/
 .col-md-6 {
     padding-bottom: 20px;
 }
 #add-music-form a, #add-movie-form a {
    color: #4f3c51;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 18px;
    background:#c1a4c4;
     border:2px solid #c1a4c4;
     border-radius: 0.5em;
     -webkit-border-radius:0.5em;
     -moz-border-radius:0.5em;
     -o-border-radius:0.5em;
 }
 #add-music-form :hover, #add-movie-form :hover {
    background: #fff;
    color:#6C496F;
    border:2px solid #6C496F;
}
 #add-music-form, #add-movie-form {
    background: rgba(255, 255, 255, 0);
}
#user-search-form {
    border: 2px ridge rgba(187, 185, 189, 0.11);
     border-radius: 0.3em;
     -webkit-border-radius:0.3em;
     -moz-border-radius:0.3em;
     -o-border-radius:0.3em;
     list-style:none;
     margin-bottom:12px;
     background:#F0EEF0;
     z-index: auto;
}
.playlist-tracks, .playlist-movies{
    border: 2px ridge rgba(187, 185, 189, 0.11);
     border-radius: 0.3em;
     -webkit-border-radius:0.3em;
     -moz-border-radius:0.3em;
     -o-border-radius:0.3em;
     list-style:none;
     margin-bottom:12px;
     background:#F0EEF0;
     z-index: auto;
     color: black;
  }
.card-body a {
    color: #00FFFF;
}
.card-body a:hover {
    color: #fff;
  }
.search-category a {
      color: #fff;
  }
.search-category a:hover {
    color: #fff;
}
.search-category {
    color: #fff;
}