a {
  cursor: pointer;
}

input[type="text"] {
  width: 100px;
}

img {
  width: 200px;
}

.search-category {
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 20px;
}
.search-category span {
  margin-right: 40px;
  margin-left: 40px;
}

.bg-purple {
  background-color: #6d4a70 !important;
}

.music-genre {
  width: 520px;
}
.music-genre input[type=checkbox] {
  margin-right: 5px;
  margin-bottom: 10px;
}
.music-genre span {
  margin-right: 5px;
}
.user-data {
  border: dotted 2px black;
  padding: 10px;
  margin: 10px;
  width: 50%;
  float: left;
}
/* .playlists {
  border: dotted 2px black;
  padding: 10px;
  float: right;
} */
.song-name a {
  font-weight: 500;
  font-size: 20px;
}
.artist-name {
  font-weight: 500;
}
.italics-text {
  font-style: italic;
}
.music-recommendation {
  border: dotted 2px black;
  width: 300px;
  float: left;
  margin-right: 10px;
}
.movie-recommendation {
  border: dotted 2px black;
  float: right;
  
}
.playlists {
  border: dotted 2px black;
  padding: 10px;
}
.playlists table {
  padding: 10px;
}
.playlist-tracks {
  background-color: #ccf9fc;
  padding: 20px;
  margin: 20px;
}
.playlist-movies {
  background-color: #ccf9fc;
  padding: 20px;
  margin: 20px;
}
.playlist-movies img {
  width: 100px;
}
.search-results, .users-list {
  margin-top: 40px;
}
